@model IEnumerable<FishingBooker.Models.RecordViewModel>

@{
    ViewBag.Title = "ViewRecords";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (User.IsInRole("HeadAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutHeadAdmin.cshtml";
    }
}

<h2>View records</h2>

<table class="table">
    <tr>
        <th>Clients email</th>
        <th>Instructors email</th>
        <th>Comment</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ClientsEmailAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InstructorsEmailAddress)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Comment)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.ClientId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InstructorId)
    </td>*@
<td>
    @Html.ActionLink(
        "Accept",
        "InformAboutAcceptedPenalty",
        "AdminUsers",
        new
             {
            recordId = item.Id,
            clientEmail = item.ClientsEmailAddress,
            instructorEmail = item.InstructorsEmailAddress
        }, null) |
    @Html.ActionLink(
        "Decline",
        "InformAboutDeclinedPenalty",
        "AdminUsers",
        new
             {
            recordId = item.Id,
            clientEmail = item.ClientsEmailAddress,
            instructorEmail = item.InstructorsEmailAddress
        }, null)
</td>
</tr>
}

</table>
