@model FishingBooker.Models.InstructorScheduleViewModel

@{
    ViewBag.Title = "ShipOwnerSchedule";
    //Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    Layout = null;
    int row_counter_current = 1;
    int row_counter_history = 1;
}

@*<h2>Instructor schedule</h2>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ship owner schedule page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" @Html.ActionLink("Fishing booker", "Index", "Home")>Fishing booker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About", "Home")">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a></li>
                        @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Register", "Account")">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Login", "Account")">Sign in</a></li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <!-- Page content-->
        @*
                <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <h2 class="text-center">Your availability</h2>
                            @using (Html.BeginForm("ShipOwnerSchedule", "Manage", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.availability.Id)
                                <div class="container shadow py-2">
                                    <div class="row d-grid">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.availability.FromDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.availability.FromDate, new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @class = "form-control",
                                                        @id = "availavility-from-date",@placeholder = "Enter your name..."
        }
        })
                                                @Html.ValidationMessageFor(model => model.availability.FromDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.availability.FromTime, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.availability.FromTime, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.availability.FromTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.availability.ToDate, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12">
                                                @Html.EditorFor(model => model.availability.ToDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.availability.ToDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.availability.ToTime, htmlAttributes: new { @class = "control-label col-md-12" })
                                            <div class="col-md-12 d-grid">
                                                @Html.EditorFor(model => model.availability.ToTime, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.availability.ToTime, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br>
                                        <!-- Submit Button-->
                                        <div class="d-grid"><button class="btn btn-primary btn-lg" type="submit">Save</button></div>
                                        <br>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>*@
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="container shadow py-2">
                        @using (Html.BeginForm("CreateShipReservationForCurrentlyActiveUser", "ShipUsers", FormMethod.Get))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Submit Button-->
                            <div class="d-grid col-md-12"><button class="btn btn-primary btn-lg" type="submit">RESERVATION FOR CURRENTLY ACTIVE CLIENT</button></div>

                            @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <input type="submit" value="Create new reservation" class="btn btn-default" />
                                </div>
                            </div>*@
                        }
                    </div>
                </div>
            </div>
        </div>

        <br>
        <h2 class="text-center">Active reservations</h2>
        <br>
        <div class="row justify-content-center">
            <div class="col-auto">
                <table class="table table-bordered table-hover text-center table-responsive">
                    <thread>
                        <tr>
                            <th class="bg-primary" scope="col">#</th>
                            <th class="bg-primary" scope="col">Clients email</th>
                            <th class="bg-primary" scope="col">Action title</th>
                            <th class="bg-primary" scope="col">Start date</th>
                            <th class="bg-primary" scope="col">Start time</th>
                            <th class="bg-primary" scope="col">End date</th>
                            <th class="bg-primary" scope="col">End time</th>
                            <th class="bg-primary" scope="col">Price</th>
                            <th class="bg-primary" scope="col">Clients info</th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var item in Model.current_reservations)
                        {
                            <tr class="table-striped">
                                @Html.HiddenFor(modelItem => item.Id)
                                <th scope="row">@row_counter_current</th>
                                <td>
                                    @Html.DisplayFor(model => item.ClientsEmailAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.ActionTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Price)
                                </td>
                                <td>
                                    @Html.ActionLink(
                                            "View profile",
                                            "ClientProfileInfo",
                                            "Manage",
                                            new
                                                 {
                                                email = item.ClientsEmailAddress
                                                },
                                            null
                                    )
                                </td>
                            </tr>
                            row_counter_current++;
                        }
                    </tbody>
                </table>
            </div>
        </div>



        <br>
        <h2 class="text-center">History reservations</h2>
        <br>
        <div class="row justify-content-center">
            <div class="col-auto">
                @using (Html.BeginForm("SearchHistoryReservationShipOwner", "Manage", FormMethod.Get))
                {
                    <!--<input id="searching" name="searching" type="text" value="" class="form-control col-md-3" placeholder="Fill in..." />-->
                    <!-- Submit Button-->
                    <!--<div><button class="btn btn-primary btn-lg" type="submit">Search</button></div>-->
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-md-8">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                    <input id="searching" name="searching" type="text" class="form-control" placeholder="Fill in...">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br>
                <table class="table table-bordered table-hover text-center table-responsive">
                    <thread>
                        <tr>
                            <th class="bg-primary" scope="col">#</th>
                            <th class="bg-primary" scope="col">Clients email</th>
                            <th class="bg-primary" scope="col">Action title</th>
                            <th class="bg-primary" scope="col">Start date</th>
                            <th class="bg-primary" scope="col">Start time</th>
                            <th class="bg-primary" scope="col">End date</th>
                            <th class="bg-primary" scope="col">End time</th>
                            <th class="bg-primary" scope="col">Price</th>
                            <th class="bg-primary" scope="col">Clients info</th>
                            <th class="bg-primary" scope="col">Record</th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var item in Model.reservation_history)
                        {
                            <tr class="table-striped">

                                <th scope="row">@row_counter_history</th>
                                @Html.HiddenFor(modelItem => item.Id)
                                <td>
                                    @Html.DisplayFor(model => item.ClientsEmailAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.ActionTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.StartDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.EndDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Price)
                                </td>
                                <td>
                                    @Html.ActionLink(
                                            "View profile",
                                            "ClientProfileInfo",
                                            "Manage",
                                            new
                                                 {
                                                email = item.ClientsEmailAddress
                                                },
                                            null
                                    )
                                </td>
                                <td>
                                    @Html.ActionLink(
                                            "Fill in a record",
                                            "FillARecord",
                                            "Manage",
                                            new
                                                 {
                                                clientsEmail = item.ClientsEmailAddress
                                                },
                                            null
                                    );
                                </td>
                            </tr>
                            row_counter_history++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "ShipOwnerSchedule", "Manage")
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>