@model IEnumerable<FishingBooker.Models.AdventureViewModel>

@{
    ViewBag.Title = "SearchAdventures";
    if (User.IsInRole("ValidFishingInstructor"))
    {
        Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    }
    else if (User.IsInRole("ValidCottageOwner"))
    {
        Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    }
    else if (User.IsInRole("ValidShipOwner"))
    {
        Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    }
    else if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (User.IsInRole("HeadAdmin"))
    {
        Layout = "~/Views/Shared/_LayoutHeadAdmin.cshtml";
    }
}

<h2>View adventures</h2>

<p>
    @Html.ActionLink("Create adventure", "CreateAdventure", "InstructorUsers")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.AdventureId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionDescription)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BehaviourRules)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalServices)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pricelist)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumberOfPeople)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.FishingEquipment)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.AdventureId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PromotionDescription)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BehaviourRules)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalServices)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pricelist)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNumberOfPeople)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FishingEquipment)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "EditAdventure", "InstructorUsers", new { advId = @item.AdventureId }, null) |

            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |

            @Html.ActionLink("Delete", "DeleteAdventure", "InstructorUsers", new { advId = @item.AdventureId }, null)
        </td>
    </tr>
}

</table>
