@model IEnumerable<FishingBooker.Models.AdventureViewModel>

@{
    ViewBag.Title = "ViewAdventures";
    Layout = null;
    int row_counter = 1;
    //if (User.IsInRole("ValidFishingInstructor"))
    //{
    //    Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    //}
    //else if (User.IsInRole("ValidCottageOwner"))
    //{
    //    Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    //}
    //else if (User.IsInRole("ValidShipOwner"))
    //{
    //    Layout = "~/Views/Shared/_LayoutInstructor.cshtml";
    //}
    //else if (User.IsInRole("Admin"))
    //{
    //    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //}
    //else if (User.IsInRole("HeadAdmin"))
    //{
    //    Layout = "~/Views/Shared/_LayoutHeadAdmin.cshtml";
    //}
}

@*<h2>View adventures</h2>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Adventures page</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" @Html.ActionLink("Fishing booker", "Index", "Home")>Fishing booker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("About", "Home")">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a></li>
                        @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Register", "Account")">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Login", "Account")">Sign in</a></li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <h2 class="text-center">Your adventures</h2>
        <p class="text-center">
            @Html.ActionLink("Create adventure", "CreateAdventure", "InstructorUsers")
        </p>
        <div class="row justify-content-center">
            <div class="col-auto">
                @using (Html.BeginForm("SearchAdventures", "InstructorUsers", FormMethod.Get))
                {
                    <div class="container">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-md-8">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                    <input id="searching" name="searching" type="text" class="form-control" placeholder="Fill in...">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <br>

                <table class="table table-bordered table-hover text-center table-responsive">
                    <thread>
                        <tr>
                            <th class="bg-primary" scope="col">#</th>
                            <th class="bg-primary" scope="col">Title</th>
                            <th class="bg-primary" scope="col">Street</th>
                            <th class="bg-primary" scope="col">Number</th>
                            <th class="bg-primary" scope="col">City</th>
                            <th class="bg-primary" scope="col">MaxNumberOfPeople</th>
                            <th class="bg-primary" scope="col">CRUD</th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="table-striped">
                                @*@Html.HiddenFor(modelItem => item.ShipId)*@
                                <th scope="row">@row_counter</th>
                                <td>
                                    @Html.DisplayFor(model => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Street)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.AddressNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.MaxNumberOfPeople)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditAdventure", "InstructorUsers", new { advId = @item.AdventureId }, null) |

                                    @Html.ActionLink("Details", "AdventureDetails", "InstructorUsers", new { advId = @item.AdventureId }, null) |

                                    @Html.ActionLink("Delete", "DeleteAdventure", "InstructorUsers", new { advId = @item.AdventureId }, null) |

                                    @Html.ActionLink("Business report", "BusinessReport", "InstructorUsers", new { advId = @item.AdventureId }, null)
                                </td>
                            </tr>
                            row_counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2021</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>