@model FishingBooker.Models.IndexViewModels.ClientIndexViewModel

@{
    ViewBag.Title = "ClientIndex";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2>Your future reservations</h2>
<table class="table">
    <tr>
        @*<th>Id</th>*@
        @*<th>ClientsEmail</th>*@
        <th>Action title</th>
        <th>Start date</th>
        <th>Start time</th>
        <th>End date</th>
        <th>End date</th>
        <th>Price</th>
        <th>Scaled price</th>
        @*<th>OwnerId</th>*@
    </tr>

    @foreach (var item in Model.future_reservations)
    {
        <tr>
            @*<th>
                    @Html.DisplayFor(model => item.Id)
                </th>*@
            @*<th>
                    @Html.DisplayFor(model => item.ClientsEmailAddress)
                </th>*@
            <th>
                @Html.DisplayFor(model => item.ActionTitle)
            </th>
            <th>
                @Html.DisplayFor(model => item.StartDate)
            </th>
            <th>
                @Html.DisplayFor(model => item.StartTime)
            </th>
            <th>
                @Html.DisplayFor(model => item.EndDate)
            </th>
            <th>
                @Html.DisplayFor(model => item.EndTime)
            </th>
            <th>
                @Html.DisplayFor(model => item.Price)
            </th>
            <th>
                @Html.DisplayFor(model => item.ScaledPrice)
            </th>
        </tr>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.FutureOutcomes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FutureOutcomes, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.FutureOutcomes, "", new { @class = "text-danger" })
        </div>
    </div>
</table>


    <h2>Your reservation history</h2>
    <table class="table">
        <tr>
            @*<th>Id</th>*@
            @*<th>ClientsEmail</th>*@
            <th>Action title</th>
            <th>Start date</th>
            <th>Start time</th>
            <th>End date</th>
            <th>End date</th>
            <th>Price</th>
            <th>Scaled price</th>
            @*<th>OwnerId</th>*@
        </tr>

        @foreach (var item in Model.history_reservations)
        {
            <tr>
                @*<th>
                    @Html.DisplayFor(model => item.Id)
                </th>*@
                @*<th>
                    @Html.DisplayFor(model => item.ClientsEmailAddress)
                </th>*@
                <th>
                    @Html.DisplayFor(model => item.ActionTitle)
                </th>
                <th>
                    @Html.DisplayFor(model => item.StartDate)
                </th>
                <th>
                    @Html.DisplayFor(model => item.StartTime)
                </th>
                <th>
                    @Html.DisplayFor(model => item.EndDate)
                </th>
                <th>
                    @Html.DisplayFor(model => item.EndTime)
                </th>
                <th>
                    @Html.DisplayFor(model => item.Price)
                </th>
                <th>
                    @Html.DisplayFor(model => item.ScaledPrice)
                </th>
                <td>
                    @Html.ActionLink("Add revision",
                    "AddRevision",
                    "ClientUsers",
                    new
                         {
                        ownerId = item.OwnerId,
                        actionTitle = item.ActionTitle
                    },
                    null)
                </td>
            </tr>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.HistoryOutcomes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HistoryOutcomes, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.HistoryOutcomes, "", new { @class = "text-danger" })
            </div>
        </div>

    </table>
